<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks List</title>
</head>
<body>
<h2>Peers List</h2>

<table>
    <thead>
    <tr>
        <th>Task</th>
        <th>Parent Task</th>
        <th>Max XP</th>
        <!-- Добавьте другие поля по необходимости -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.parentTasks}"></td>
        <td th:text="${task.maxXp}"></td>
        <!-- Добавьте другие поля по необходимости -->
    </tr>
    </tbody>
</table>

</body>
</html>
